# Ignore .env
settings/.env

# Ignore files
settings/files/*

# Ignore VSCode
.vscode/*

# Ignore Node Modules
node_modules/*

# Ignore Database values
Database/data/*

# Ignore test file
test.js

# Ignore temp files
temp_functions/*

other/*